<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<br>
<%= code title: 'hello_world.rb', language: 'ruby' do %>
  class Foo
    def initialize(subject = nil)
      @subject = subject
    end

    def hello
      puts "Hello #{@subject || 'World'}"
    end
  end

  Foo.new('World').hello
<% end %>
<%= code title: 'hello_world.js', language: 'javascript' do %>
  // a comment that is really long so that I can test what it is like to have the overflow scroll

  function Foo(subject) {
    this.subject = subject;
    this.hello = function() {
      console.log('Hello ' + (this.subject || 'World'));
    }
  }

  (new Foo('World')).hello();
<% end %>
