<!DOCTYPE html>
<html>
  <head>
    <title>Codeformatter</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro|Spectral" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section id="page">
      <%= yield %>
    </section>
  </body>
</html>
